body{
	background: linear-gradient(45deg, yellow, lightBlue, violet);
	box-sizing: border-box;
	font-family: Orbitron, sans-serif;
}

#title {
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	color: white;
	font-size: 70px;
}